
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-style="style()" cover>
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
<!-- about section -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2 class="section-heading">Plus de 20 ans d'expertise!</h2>
                    <hr class="light">
                    <div class="row ">
                        <div class="col-md-3">
                            <img class="img-profile" src="../../assets/images/larbiSmall.jpg" height="250">
                        </div>

                        <div class="col-md-9 text-left text-profile">
                            <p class="text-faded">Établie depuis 1991 à Bab-el-Oued, Wilaya d’Alger, notre étude notariale se distingue par son expertise, sa rigueur ainsi que son efficacité.<p class="text-faded">Nous visons à développer une relation priviligiée avec nos clients afin que nous soyons pour eux un véritable partenaire. Nous intervenons aussi bien auprès d'une clientèle de particuliers que d'une clientèle d'affaires algérienne et internationale.</p><p class="text-faded">N'hésitez pas à nous demander conseil. Votre notaire rend vos projets plus sûrs et pour longtemps.
                            <br /><img align="right" src="../../assets/images/signatureFr.png" width="220px" class="wow bounceIn"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pourquoi nous choisir</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Intégrité</h3>
                        <p class="text-muted">Réputé pour notre professionnalisme et intégrité.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-briefcase wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Expertise</h3>
                        <p class="text-muted">Plus de 20 ans d'expérience avec une clientèle de particuliers et d'affaires.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Rapidité</h3>
                        <p class="text-muted">Nous faisons tout notre possible pour conclure vos transactions dans les plus brefs délais.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Confiance</h3>
                        <p class="text-muted">Nous visons à développer une relation de confiance avec nos clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>

<!-- contact section -->
    <section id="contact" style="padding-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Pour nous joindre</h2>
                    <hr class="primary">
                    <p>Prêt à commencer votre prochain projet? Appelez-nous ou laissez-nous un message et on vous répondra dans les plus brefs délais!</p>
                </div>
            </div>
            <div class="row text-center">             
                <div class="col-lg-3 text-center wow bounceIn" data-wow-delay="0.1s">
                    <a href="https://www.google.dz/maps/place/10,Boulevard+Abderrahmane+Taleb,+Alger/@36.7905629,3.0577585,17z/data=!3m1!4b1!4m2!3m1!1s0x128fb300a876752f:0x43562fa0e42bf363">
                    <i class="fa fa-home fa-3x wow bounceIn"></i>
                    <p>10, Bd Taleb Abderrahmane,<br /> Bab-el-Oued | Alger, Algérie</p></a>
                </div>
                <div class="col-lg-3 text-center wow bounceIn" data-wow-delay="0.2s">
                    <a href="mailto:info@larbibouamrane.com">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <p>info@larbibouamrane.com</p></a>
                </div>
                <div class="col-lg-3 text-center wow bounceIn" data-wow-delay="0.2s">
                    <a href="skype:larbibouamrane?call">
                    <i class="fa fa-skype fa-3x"></i>
                    <p>Cliquez-ici pour nous joindre</p></a>
                </div>
                <div class="col-lg-3  text-center wow bounceIn" data-wow-delay="0.4s">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>021-96-21-77<br />021-96-78-23</p>
                </div>     

            </div>    
        </div>
    </section>