
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-style="style()" cover>
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>

<!-- Contact Section -->
    <section id="contact" style="padding-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">للإتصال بنا</h2>
                    <hr class="primary">
                    <p>مستعد لبدء مشروعك القادم؟ إتصل بنا على الهاتف أو البريد الإلكتروني وسوف نرد عليك في أقرب وقت.</p>
                </div>
            </div>
            <div class="row text-center">             
                <div class="col-lg-3 text-center wow bounceIn" data-wow-delay="0.1s">
                    <a href="https://www.google.dz/maps/place/10,Boulevard+Abderrahmane+Taleb,+Alger/@36.7905629,3.0577585,17z/data=!3m1!4b1!4m2!3m1!1s0x128fb300a876752f:0x43562fa0e42bf363">
                    <i class="fa fa-home fa-3x wow bounceIn"></i>
                    <p>10 نهج طالب عبد الرحمان<br />باب الوادي | الجزائر</p></a>
                </div>
                <div class="col-lg-3 text-center wow bounceIn" data-wow-delay="0.2s">
                    <a href="mailto:info@larbibouamrane.com">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <p>info@larbibouamrane.com</p></a>
                </div>
                <div class="col-lg-3  text-center wow bounceIn" data-wow-delay="0.3s">
                        
                   <a href="skype:larbibouamrane?call" onmouseover="hover();" onmouseout="unhover();"  data-wow-delay=".1s"><img id="skype" src="img/skype.png" height="42" /><br /><p>أظغط هنا للإتصال</p></a>

                </div>
                <div class="col-lg-3  text-center wow bounceIn" data-wow-delay="0.4s">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>021-96-21-77<br />021-96-78-23</p>
                </div>     

            </div>    
        </div>
    </section>